<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Leave Request Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Leave Request Form</h1>
  <form th:action="@{leaveRequest}" th:object="${leaveRequest}" method="post">
    <div class="form-group">
      <label for="employee">Employee:</label>
      <input type="text" class="form-control" id="employee" th:value="${employee.getEmail()}" readonly>
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" id="description" th:field="*{description}" required></textarea>
    </div>

    <div class="form-group">
      <label for="fromDate">From Date:</label>
      <input type="date" class="form-control" id="fromDate" th:field="*{fromDate}" required>
    </div>

    <div class="form-group">
      <label for="toDate">To Date:</label>
      <input type="date" class="form-control" id="toDate" th:field="*{toDate}" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</body>
</html>
